h1, h3 {
  font-family: 'Bree Serif', serif !important;
}
h4, h5 {
  font-family: 'Lora', serif !important;
}
p, a, button, input {
  font-family: 'Lato', sans-serif !important;
}

h2:not(:first-of-type) {
  font-family: 'Bree Serif', serif !important;
}

#tagline {
  font-family: 'Dancing Script', 'Lora', 'Lato', serif !important;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 9px;
}

header{
  background: #E6B8E6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #E6B8E6, #E7DBFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #E6B8E6, #E7DBFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #E6B8E6, #E7DBFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #E6B8E6, #E7DBFF); /* Standard syntax */
}
#logo {
  width: 125px;
}
#taglinepane {
  background-color: #7D2C85;
  color: #dddddd;
  text-align: center;
}
.marquee{
	overflow: hidden;
	color: #7D2C85;
}
#perky {
	font-family: 'Dancing Script', serif !important;
	font-size: 20px;
}
nav {
  min-height: 45px;
  background-color: #7D2C85 /*D5d5d5*/;
  border-bottom: #D5d5d5 solid 1px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}
main {
  background-color: #FFFFFF /*#e9e9e9*/;
  max-width: 970px;
  border-left: #e9e9e9 dashed 1px;
  border-right: #e9e9e9 dashed 1px;
  padding-bottom: 20px;
} 
#footer1 {
  background-color: #e9e9e9;
}
#footer2 {
  color: #e9e9e9;
  background-color: #26067D;
}

#ad {
  padding-top: 30px;
  text-align: left;
  font-size: 12px;
}
iframe {
  padding-bottom: 20px;
}
textarea{
	width: 100%;
	height: 63px;
}
.error-image{
	width: 100%;
	height: 100%;
	margin: 10px auto 0px auto;
}