{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
    	<h1>About Us</h1>
    	<img src="/static/oldschoolwctv_from2008.png" alt="Members of the 2008 WCTV crew producing a show." class="img-responsive" width="250px" style="float: left; padding-right: 10px;"></img>
    	<p>Founded in 2008 by Grace Cheng, Wellesley College Television News (WCTV) provides Wellesley College students of varying academic backgrounds with experience in all aspects of video journalism by allowing them to write, produce, film, edit, and marketing their own video projects.
    	</p>
    	<p>
    	In the beginning, WCTV produced a hard news television program that aired on channel 10 and was only viewable within a small radius of the College. Now, WCTV produces a biweekly satire news and sketch show called 'Boobtube' that is hosted on YouTube, to take advantage of the perks of the booming digital space. 
    	</p>
    	<img src="/static/oldboobtubeslate.jpg" alt="The WCTV slate." class="img-responsive" width="250px" style="float:right; padding-left: 10px;"></img>
    	<p>
    	Because WCTV is one of the larger organizations on campus, we are able to provide students with involvement opportunities that require varying levels of time commitment. Our eBoard members have the most rigorous positions, requiring many hours of work per week inside and out of the studio/writing room. General members are able to engage however much or little as they wish to, but are kept abreast of WCTV happenings. We keep detailed notes of who works on what segments, and that information is compiled in the credits at the end of each episode.
    	</p>
    	<p>
    	WCTV alums have gone on to do awesome things in broadcast, print, and video journalism, and active members are often chosen for prestigious internships and post-grad opportunities at news stations, newspapers, magazines, and digital production studios. If you need something to put on your resume, and/or are even remotely interested in one of the many aspects of news or video production, we've got a lot to offer.
    	</p>
    </div>
</div>
<div class="row">
	<div class="col-sm-8">
    	<h3>FAQ</h3>
    	<div class="panel-group" id="accordion">
		   	<div class="panel panel-default">
		     	<div class="panel-heading">
		        	<h4 class="panel-title">
		          		<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">How can I join WCTV's cast or crew?</a>
		        	</h4>
		     	</div>
		     	<div id="collapse1" class="panel-collapse collapse in">
		       	 	<div class="panel-body">We recruit extensively at the beginning of each semester, so keep an eye out for our spam on the bulletin boards around campus, and in your email inbox. We normally hold an open meeting for prospective members, and from there hold additional meetings for tech and production training. No experience necessary, just bring your passion, humor, and common sense.
		       	 	<br><br>
		       	 	Note that eBoard positions are generally filled by members who have been active for at least a semester, so if you're aiming for that, get involved early and give us your best!
		       	 	</div>
		      	</div>
		    </div>
		    <div class="panel panel-default">
		     	<div class="panel-heading">
		        	<h4 class="panel-title">
		          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">How can I contact WCTV for partnerships, etc.?</a>
		   		    </h4>
		      	</div>
		      	<div id="collapse2" class="panel-collapse collapse">
		        	<div class="panel-body">Feel free to use the <a href="/contact">contact form</a> on this website, or email us directly at <a href="mailto:wellesleycollege.boobtube@gmail.com">wellesleycollege.boobtube@gmail.com</a>. We'll get back to you as soon as possible!</div>
		      	</div>
		    </div>
		    <div class="panel panel-default">
		     	<div class="panel-heading">
		        	<h4 class="panel-title">
		          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">What if I have feedback on a video?</a>
			        </h4>
			    </div>
		      	<div id="collapse3" class="panel-collapse collapse">
		        	<div class="panel-body">Feel free to leave a rating on the video, or if you have more detailed feedback to comment directly on the video. We read all of the comments, so that's a great way to ensure your feedback is heard. For more general feedback, contact us on the <a href="/contact">contact form</a> on this website or on our Facebook or Twitter pages.</div>
			    </div>
		    </div>
		     <div class="panel panel-default">
		     	<div class="panel-heading">
		        	<h4 class="panel-title">
		          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">What if I want to sue WCTV?</a>
			        </h4>
			    </div>
		      	<div id="collapse4" class="panel-collapse collapse">
		        	<div class="panel-body">OMG, please don't do that. We are broke college kids trying to make you laugh. Plus, satire is protected under the First Amendment as a form of freedom of speech, so you'd probably just be wasting your money and time, anyway.</div>
			    </div>
		    </div>
		     <div class="panel panel-default">
		     	<div class="panel-heading">
		        	<h4 class="panel-title">
		          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">But why call it "Boobtube"?</a>
			        </h4>
			    </div>
		      	<div id="collapse5" class="panel-collapse collapse">
		        	<div class="panel-body">The word 'boobtube' was coined in the 1960's as a slang word for the television set because people thought TV was frivolous. Well, we've sure shown them!
		        	<br><br>
		        	Also, if we call it 'boobtube,' we get to refer to each other as 'boobies,' and that's just irresistable.</div>
			    </div>
		    </div>
		     <div class="panel panel-default">
		     	<div class="panel-heading">
		        	<h4 class="panel-title">
		          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">What is your privacy policy?</a>
			        </h4>
			    </div>
		      	<div id="collapse6" class="panel-collapse collapse">
		        	<div class="panel-body">Really? Someone actually wants to read that? I mean, okay, sure, but it's super boring. Don't say no one warned you! Check it out <a href="/terms#privacy">here</a>.</div>
			    </div>
		    </div>
		</div>
    </div>
    <div class="col-sm-4">
    	<p id="ad">[advertisement]
        <img class="img-responsive text-align" src="http://placehold.it/350x170"></p>
    </div>
</div>
{% endblock %}