{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
    	<h1>Cast &amp Crew</h1>
    </div>
    <div class="col-sm-6">
    	<!--<h3>Cast</h2>-->
    	<img src="http://placehold.it/350x150" class="img-responsive"></img>
    	<h3>Wendy Wellesley</h3>
    	<p>Head Anchor<p>
    	<img src="http://placehold.it/350x150" class="img-responsive"></img>
    	<h3>Wilma Wellesley</h3>
    	<p>News Anchor<p>
    	<img src="http://placehold.it/350x150" class="img-responsive"></img>
    	<h3>Wren Wellesley</h3>
    	<p>Talent<p>
    	<img src="http://placehold.it/350x150" class="img-responsive"></img>
    	<h3>Willow Wellesley</h3>
    	<p>Talent<p>
    </div>
    <div class="col-sm-6">
    	<!--<h2>Crew</h2>-->
    	<img src="http://placehold.it/350x150" class="img-responsive"></img>
    	<h3>Wanda Wellesley</h3>
    	<p>Executive Producer<p>
    	<img src="http://placehold.it/350x150" class="img-responsive"></img>
    	<h3>Waverly Wellesley</h3>
    	<p>Tech Director<p>
    	<img src="http://placehold.it/350x150" class="img-responsive"></img>
    	<h3>Whitney Wellesley</h3>
    	<p>Tech Ops<p>
    	<img src="http://placehold.it/350x150" class="img-responsive"></img>
    	<h3>Wynona Wellesley</h3>
    	<p>Associate Producer<p>
    </div>
</div>
{% endblock %}